.clearfix:after {
    content:"";
    display: table;
    clear: both;
}


header {
    background-color: #2c3e50;
}

a.logo{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 75px;
}
a.logo:hover{
    color: #fff;
}

header .navabar{
    line-height: 75px;
}
.btn.menu{
    background-color: #1abc9c;
    border: none;
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    transform: translateY(-2px);
}
a.menu{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

a.menu:active, a.menu:visited, a.menu:hover{
    color: #fff;
}

.start{
    background-color: #1abc9c;
}

img.avatar{
    width: 240px;
}
.start{
    color: #fff;
}

section{
    padding-top: 70px;
    padding-bottom:70px;
}

.start h1{
    font-size: 50px;
    font-weight: 600;
    margin-top: 30px;
}
.separatore-stella{
    margin-top: 30px;
    margin-bottom: 30px;
}
.linea-spessa{
    border:2px solid;
    display: inline-block;
    width:110px;
    border-radius: 4px;

}

.glyphicon-star{
    font-size: 40px;
    vertical-align: middle;
    padding-left: 17px;
    padding-right: 15px;
}

p{
    font-size: 20px;
}

.portfolio{
    color: #2c3e50;
}

.portfolio .row{
    max-width: 400px;
    margin: 0 auto;
}

h2{
    font-size: 35px;
    font-weight: 600;
}

.card{
    margin-top: 15px;
    margin-bottom: 15px;
}

.content img{
    border-radius:10px;

}

/* =====MEDIA QUERY===== */


@media screen and (max-width:767px){
    .container{
        max-width: 550px;
        margin: 0 auto;

    }
}

@media screen and (min-width:768px){
    .portfolio .row{
        max-width: 100%;
        margin: 0 auto;
    }

}



/*LARGE */

@media screen and (min-width:1140px){
    .container{
        width: 1140px;
        margin: 0 auto;

    }
}
